/* .register-section {
  height: 80vh;
} */
.register-container {
  width: 30%;
  margin: 40px auto;
  background-color: rgb(247, 245, 245);
  border-radius: 10px;
}
.register-container h2 {
  background-color: var(--primary-color);
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 10px;
  text-align: center;
}
.email-div {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 10px auto;
  gap: 10px;
  font-weight: bold;
  color: gray;
}
.email-div input {
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.role-div {
  display: flex;
  width: 75%;
  gap: 15px;
  align-items: center;
  margin: 10px auto;
}
.role-div select {
  border: none;
  padding: 0 10px;
  border-radius: 5px;
  height: 25px;
}
.register-button {
  width: 50%;
  display: block;
  margin: 0 auto;
  font-size: 21px;
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.isValid-register-info {
  background-color: var(--button-color);
  transition: 0.8s ease-in-out;
  color: white;
}
.isValid-register-info:hover {
  background-color: var(--primary-color);
}
.isInvalid-register-info {
  background-color: gray;
  color: white;
}

.already-registered {
  text-align: right;
  padding: 20px;
}
.already-registered a {
  text-decoration: none;
}
@media (max-width: 575px) {
  .register-container {
    width: 95%;
  }
}
/* Small Screen (576px to 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .register-container {
    width: 75%;
  }
}
/* Medium Screen (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .register-container {
    width: 50%;
  }
}
