/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --primary-color: #388fb5;
  --secondary-color: #3f5f76;
  --button-color: #066e85;
  --max-width: 80%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
/* Screen sizes */
/* Extra Small Screen (up to 575px) */
@media (max-width: 575px) {
  /* Your CSS styles for extra small screens go here */
}

/* Small Screen (576px to 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Your CSS styles for small screens go here */
}
/* Medium Screen (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Your CSS styles for medium screens go here */
}
